:root {
    --blanco: #fff;
    --dorado: #fed700;
    --negro: #000000;
    --dorado2: #6c5a02;

    --leveGris: #C0C0C0;
    --mediumGris: #888888;
    --FuerteGris: #555555;

    --NegroOpcional:#0F0F0F;
    --AzulNoche: #191970;
    --AzulAcero: #4682b4;
    --AzulMedianoche: #003366;
    --AzulTinta: #03254c;
    --AzulMarino: #000080;

    --AzulEléctrico:#00faff;
    --AzulCieloIntenso: #00a0e9;
    --AzulTurquesa: #00ced1;
    --AzulBrillante: #007bff;
    --AzulCobalto: #0047ab;



    --fuentePrincipal: 'Oswald', sans-serif;
    --fuenteSecundaria: 'Playfair Display', serif;

}

html {
    font-size: 62.5%;
    box-sizing: border-box;

}

*,
*:before,
*:after {
    box-sizing: inherit;


}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
   /*  background-color: var(--leveGris); */
   background-image: url(/img/fondo1.jpg);
   background-repeat: no-repeat;
   background-size: cover;

}

h1,
h2,
h3 {
    font-weight: 900;
    margin: 1rem 0 4rem 0;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
    margin: 0;
}

h3 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

 img {
    max-width: 100%;
    display: block;
} 


.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.btn {
    color: var(--gris);
    background-color: var(--blanco);
    border: 1px solid var(--dorado);
    padding: .5rem 2rem;
    transition: background-color .3s;
}

.btn:hover {
    background-color: var(--dorado);

}

/* utilidades */
.text-center {
    text-align: center;
}

.mt5 {
    margin-top: 5rem;
}

.activo {
    background-color: var(--dorado2);
}

.headingBorder{
    font-size: 2.6rem;
     color:var(--dorado2);
     display: inline-block;
     margin-top: 5rem;
}

.headingBorder::after{
    content:'';
    background-color:var(--dorado);
    height: 1rem;
    width:calc(100% + 1rem) ;
    display: block;
    margin:-1.4rem 0 0 0;
}





/* Estilos Header  */

/* .logo{
    width: 35rem;
    margin-top: 5rem;
} */


.header {
    padding-top: 5rem;
}
/* 
.header.fijo{
    position: fixed; 
    width: 100%;
    box-shadow: 0.3rem 0.3rem 0.3rem var(--AzulMedianoche) ;
} */

.header__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .header__grid {
        flex-direction: row;
        justify-content: space-between;
    }

}

/* sociales */

.sociales{
    margin: 5rem 0;
    display: flex;
}

@media (min-width: 768px) {
    .sociales{
        margin: 0;
    } 
    
}

/* Estilos para la clase .sociales__enlace */
.sociales__enlace::before {
    content: ' ';
    padding: 2rem;
    display: inline-block;
}

.sociales__enlace[href*="facebook.com"]::before {
    background-image: url(../img/icono_facebook.svg);
    
}

.sociales__enlace[href*="twitter.com"]::before {
    background-image: url(../img/icono_twitter.svg);
}

.sociales__enlace[href*="instagram.com"]::before {
    background-image: url(../img/icono_instagram.svg);
}

.sociales__enlace[href*="youtube.com"]::before {
    background-image: url(../img/icono_youtube.svg);
}

.sociales__enlace[href*="tiktok.com"]::before {
    background-image: url(../img/icono_tiktok.svg);
}

/* Estilos para la clase .sociales__accesible */
.sociales__accesible {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    display: block;
}



/* navegacion */


.navegacion {
    
    background-color: var(--blanco);
    padding: .5rem 0;
    margin: 2rem 0;
    z-index:999;
    
    
}

.navegacion__border {
    border-block: 2px dashed var(--AzulAcero);
    padding: 1.5rem 0;
}

.navegacion__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    visibility: hidden; 
    opacity: 0;
    transition: visibility .3s ease-in-out ,opacity 0.5s linear;
}

@media (min-width: 768px) {
    .navegacion__contenedor{
        flex-direction: row;
         justify-content: space-between;
         visibility: visible;
         opacity: 1;
    } 
    
}

.navegacion__enlance{
        color: var(--AzulNoche);
        font-size: 2.4rem;
        margin-bottom: 1.2rem;
        padding: 1rem;
       
}

.navegacion__enlance:last-of-type{
    margin-bottom: 0;
}

@media (min-width: 768px) { 
    .navegacion__enlance:last-of-type{
        margin-bottom: 0;
    }
}


/* estilos del menu hamburguesa */

 .mobile-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .mobile-menu{
       
        display: none;
    } 
    
}

.mobile-menu img{
    width: 5rem;
    align-items: center;
}

.mostrar{
    visibility: visible;
    opacity: 1;
} 



/* 
Estilos Slider */

/* .container-slider{
    width: 90%;
    max-width:90rem;
    margin: auto;
    overflow: hidden; 
    box-shadow:0 0 0 5px #fff,
               0 15px 50px;
    position: relative;           
  }

  .container-slider .slider__img {
    width: 100%;
  } */

 


 /* nuevos estilos ****** */

  .container-slider {
    width: 90%;
    max-width: 90rem;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 5px #fff, 0 15px 50px;
    position: relative;
    vertical-align: top;
    margin-bottom: 0; 
  }
  
  @media (max-width: 580px) {
    .slider__section {
      display: flex;
      justify-content: contain;
    }
  
    .slider__section img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  
  

@media (min-width: 768px) { 
    
    .container-slider{
      width: 90%;
      max-width: 90rem;
      margin: auto;
      overflow: hidden; 
      box-shadow:0 0 0 5px #fff,
                 0 15px 50px;
      position: relative;           
    }
}



.slider{
    display: flex;
    width:400%;
    height:400px;
    margin-left: -100%; 
    }

.slider__section{
  width: 100%;
}


@media (min-width: 768px) { 
    .slider__img{
      display:block;
      width:100%;
      height:100%;
      object-fit: cover;
    }
    
}


.slider__btn{
  position: absolute;
  width: 4rem;
  height:4rem;
  background: rgba(255, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size:3rem;
  font-weight:bold;
  font-family:monospace;
  text-align:center;
  border-radius: 50%;
  cursor: pointer;
}

.slider__btn:hover{
  background:#fff;

}

.slider__btn--left{
  left: 1rem;
}
.slider__btn--right{
  right: 1rem;
}
 







/* .slider {
    overflow: hidden;
    position: relative;
  }
  
  .slider__slide {
    height: 100%;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    transition-property: transform;
  } */
  /* 
  .slider__imagen {
    width: 100%;
  }  */
  

  /* .swiper{
    border: 1px solid var(--AzulAcero);
  }


  .swiper-button-next,
  .swiper-button-prev {
    color:var(--FuerteGris);
  }
  
  .swiper-pagination-bullet {
    background-color:var(--blanco);
  }
  
  .swiper-pagination-bullet-active {
    background-color: var(--AzulAcero);
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    list-style: none;
  } 

  .swiper-slide img {
    display: block;
    width: 100%;
  } */
  

/*   Bienvenida */
.bienvenida{
 margin-top: 5rem;
 text-align: center;
}

.bienvenida__heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--fuenteSecundaria);
    color:var(--negro);
    font-size: 3rem;

}

@media (min-width: 768px) { 
    .bienvenida__heading{
        flex-direction: row;
        font-size: 5rem;
    }
    
}

.tita {
    font-family: var(--fuentePrincipal);
    white-space: nowrap;
    border-right: 4px solid;
    width: 20ch;
    text-align: center;
    color: var(--blanco);
    animation: typing 4s steps(12), blink 1s infinite step-end alternate;
    overflow: hidden;
    animation-iteration-count: infinite;
  }
  


@media (min-width: 768px ) { 
    .tita{
        font-family: var(--fuentePrincipal);
        white-space: nowrap;
        border-right: 4px solid;
        width: 18ch;
        text-align: center;
        color: var(--AzulMarino);
        font-size: 6rem;
        animation: typing 4s steps(12), blink 1s infinite step-end alternate;
        overflow: hidden;
        animation-iteration-count: infinite;
      }
      
}

@media (min-width: 1024px) {
    .tita{
        flex-direction: row;
        font-size: 8rem;
        color: var(--AzulMarino);
    } 
    
}


@keyframes typing{
    from{width: 0;}
}

.bienvenida__texto{
    color: var(--blanco);
    font-family: var(--fuenteSecundaria);
    font-size: 2rem;
}

.bienvenida__texto span {
    font-size: 4rem;
    color: var(--AzulAcero);
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    line-height:1.5rem;
  }
  

@media (min-width:768px ) { 
    .bienvenida__texto{
        color: var(--blanco);
        font-family: var(--fuenteSecundaria);
        font-size: 3rem;
    }
}
/* 
Nosotros */

.nosotros{
    background-color: rgba(70, 130, 180, 0.2);
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.nosotros__grid{
    display: grid;
    gap: 2rem;
   
}
@media (min-width: 768px) { 
  .nosotros__grid{
     grid-template-columns: repeat(2,1fr);
     align-items: center;
   } 
 
}

 .nosotros__heading{
    text-align: center;
    color: var(--blanco);
    font-size: 5rem;
    font-family: var(--fuentePrincipal);
    
}   
   .nosotros__contenido{

    color: var(--blanco);
    padding:0  1rem 0 1rem;
    margin-top: 1rem;
    font-family: var(--fuenteSecundaria);
   }

   @media (min-width: 768px) { 
    .nosotros__contenido{
        margin-top: 0;
    }
   }

 .nosotros__imagen{
   padding: 2rem;
   filter: brightness(1);
 }
 
/* estilos de la galeria */

.encabezado{
    text-align: center;
    padding: 2rem 0;
    background-color: var(--blanco);
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

.columna{
    flex:100%;
    max-width:100%;
} 


@media (min-width:768px ) { 
    .columna{
        flex: 1;
        max-width: 33%;
        padding: 0 0.4rem;
    }

    .botones{
        font-size: 5.5rem;
    }
    .atras{
        left:.5rem;
    }
    .adelante{
        right:.5rem;
    }
    .slideshow img{
        width:98%;
    }
    
}



.columna img{
    margin-top:0.8rem;
    width:100%;
    filter:grayscale(100%);
    transition: all .3% ease;
}

.columna img:hover{
    cursor: pointer;
    filter: grayscale(0%);
    box-shadow: 0 0 1rem rgba(0,0,0,.5);
    transform: scale(1.1);
} 

.overlay{
    position:fixed;
    left: 0;
    top: 0;
    width:100vw;
    height:100vw;
    background-color: rgba(0, 0, 0, .5);
    z-index:10000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 07s ease;
    visibility: hidden;
    opacity:0;
}

@media (min-width: 768px) {
    .overlay{
        width:100%;
        height:100%;
        justify-content: center;
        align-items: center;
    } 
    
}

.overlay .slideshow{
    width: 90%;
    height: 90%;
    background-color:rgba(255, 255, 255, 0.5) ;
    color:#000;
    position: relative;
    display: flex;
    justify-content: center;
}

 .slideshow img{
    height: 100%;
    width: 100%;
    object-fit: contain;
} 

.btn_cerrar{
    position: absolute;
    top: -1rem;
    right:-1.5rem;
    font-size: 3.5rem;
    background-color:rgba(0, 0, 0, .7) ;
    color:#fff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    transition: all .2s ease;
}

.btn_cerrar:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.botones{
    width: 7rem;
    height: 7rem;
    border-radius:50%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:7rem;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgb(240,106,45,);
}

.botones:hover > i{
    transform: scale(1.1);
    transition: all .2s ease;
}

.atras{
    left:2rem;

}

.adelante{
    right:2rem;
}

.mdi{
    pointer-events: none;
}

/* @media (min-width: 760px) {
    .columna{
        flex: 50%;
        max-width:50%;
    } 
    .botones{
        font-size: 5.5rem;
    }
    .atras{
        left:.5rem;
    }
    .adelante{
        right:.5rem;
    }
    .slideshow img{
        width:98%;
    }
} */
/* 
@media (min-width: 600px) {
    .columna{
        flex:100%;
        max-width:100%;
    } 
    
} */

/* estilos de memorias */

#memorias {
    position: relative;
    background-color: rgba(70, 130, 180, 0.2);
    margin-top: 5rem;
  }
  
  #memorias h1 {
    text-align: center;
    padding: 2rem;
    font-family: var(--fuentePrincipal);
    font-size: 5rem;
    color: var(--AzulTinta);
  }
  
  .video-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 1rem; /* Ajusta este valor según tus preferencias */
    color: var(--blanco);
    font-size: 2rem;
    font-family: var(--fuenteSecundaria);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .video-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .video-item {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    border: 4px solid var(--AzulTinta);
    border-radius: 8px;
  }
  
  .video-item video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

 /*  contacto estilos */
 /* Estilos base del formulario */

 .formulario {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  
  .campo {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
    height: 100px;
  }
  
  .boton {
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .alerta {
    margin-top: 1rem;
    padding: 1rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  
  .error {
    background-color: #ff3333;
  }
  
  .success {
    background-color: #00cc00;
  }
  
  
  /* Media query para dispositivos grandes */
  
  @media (min-width: 769px) {
    .formulario {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .boton {
      display: flex;
      justify-content: center;
    }
  }
  
  .alerta {
    margin-top: 1rem;
    padding: 1rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  
  .error {
    background-color: #ff3333;
  }
  
  .success {
    background-color: #00cc00;
  }
  

/*   footer */

.footer {
    margin-top: 2rem;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }

  .footer__contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer__header {
    margin-bottom: 20px;
  }

  .footer__header .header__logo .logo {
    width: 9rem; /* Ajusta el tamaño del logo según tus preferencias */
  }
  
  
  .header__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__logo {
    display: flex;
    align-items: center;
  }
  
  .sociales {
    display: flex;
    justify-content: flex-start;
  }
  
  .sociales__enlace {
    margin-right: 10px;
    text-decoration: none;
    color: #888;
  }
  
  .sociales__enlace:last-child {
    margin-right: 0;
  }
  
  .sociales__accesible {
    display: none;
  }
  
  .rights {
    font-size: 2.5rem;
    color:var(--AzulMarino);
    margin: 0;
    font-family: var(--fuentePrincipal);
  }
  

  /* estilos del whatsApp */

  /* 
 estilos del boton whatsapp
 */

 .container-boton{
    background-color: #2e6329;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.boton{
    width: 2rem;
    transition: ease 1s;
}


@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}


/* flechas */

.scroll-link {
    position: fixed;
    top: 50%;
    right: -50px; /* Posición inicial fuera de la pantalla */
    width: 50px;
    height: 100px;
    background-color: var(--AzulMarino);
    color: #fff;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s, right 0.3s;
    cursor: pointer;
    z-index: 9999; /* Establece un valor alto de z-index */
  }
  
  .scroll-link:hover {
    opacity: 0.7;
  }
  
  #scrollUp {
    top: 30px;
    transform: rotate(-90deg); /* Rotar la flecha */
  }
  
  #scrollDown {
    bottom: 30px;
    transform: rotate(90deg); /* Rotar la flecha */
  }
  
  .scroll-show {
    right: 20px; /* Posición en la pantalla */
    opacity: 1;
    z-index: 9999; /* Establece un valor alto de z-index */
  }
  



/* Estilos del botón de reproducción */
/* Estilos del botón de reproducción */
#playPauseButton {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #playPauseButton:hover {
    background-color: #0056b3;
  }
  
  #playPauseButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }
  
  #playPauseButton:active {
    transform: translateY(1px);
  }
  
  @media (max-width: 768px) {
    #playPauseButton {
      padding: 8px 16px;
      font-size: 14px;
    }
  }
  